:root{
  --brandcolor: #89ba16;
  --fontcolor: #fff;
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  height: 200vh;
  position: relative; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 1;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible; }





/* Navbar */
.text-black {
  color: #000 !important; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  top: 0;
  width: 100%;
  padding: 1rem; }
  .site-navbar .toggle-button {
    position: absolute;
    right: 0px; }
  .site-navbar .site-logo {
    margin: 0;
    padding: 0;
    font-size: 1.7rem; }
    .site-navbar .site-logo a {
      color: var(--brandcolor);
      text-transform: lowercase; }
    @media (max-width: 991.98px) {
      .site-navbar .site-logo {
        float: left;
        position: relative; } }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white !important; }
  .site-navbar .site-navigation .site-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #89ba16 !important; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px 0px;
        color: #000 !important;
        display: inline-block;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #89ba16; }
      .site-navbar .site-navigation .site-menu > li.active > a {
        color: #89ba16 !important; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #89ba16;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            display: none;
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #000 !important; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
            color: #89ba16 !important;
            background: #f8f9fa; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f8f9fa;
              color: #ced4da; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f8f9fa;
            color: #ced4da; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #89ba16; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #ced4da; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #89ba16; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .nav-link.active {
        color: #89ba16; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #89ba16; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
  position: relative;
  top: 0; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .site-navbar {
    background: #fff; }
    .sticky-wrapper .site-navbar ul li a {
      color: rgba(0, 0, 0, 0.7) !important; }
      .sticky-wrapper .site-navbar ul li a.active {
        color: #000 !important; }
  .sticky-wrapper.is-sticky .site-navbar {
    background: #fff;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2); }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #89ba16; }
    .sticky-wrapper.is-sticky .site-navbar ul li a {
      color: #000 !important; }
      .sticky-wrapper.is-sticky .site-navbar ul li a.active {
        color: #89ba16 !important; }
  .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    @media (max-width: 991.98px) {
      .sticky-wrapper .shrink {
        padding-top: 30px !important;
        padding-bottom: 30px !important; } }
/* Navbar */
        

/* jumbotron */
        .jumbotron {
          height: 100vh;
          width: 100%;
          background-image: url(/asset/images/svg/background.svg);
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat; }
        
        .jumbotron h1{
          color: var(--brandcolor) !important;
          font-weight: 700;
        }

        .jumbotron p{
          color: #fff;
        }

        .btn-costum1{
          background-color: var(--brandcolor);
          text-align: center;
          color: var(--fontcolor);
          min-width: 150px;
          height: 45px;
          font-weight: 700;
          font-size: 1.2rem;
      }
      .btn-costum1:hover{
          box-shadow: 0 0 5px rgba(153, 209, 21, .8);
      }
      
      .bw{
        color: var(--fontcolor);
        cursor: pointer;
        font-size: 1.1rem;
    }
    .icon-sosial svg{
        margin-right: .7em;
        margin-bottom: 10px;
    }
    .color-acsent{
      color: var(--brandcolor);
    }
/* end jumbotron */

/* about */
#about h1{
  color: var(--brandcolor);
}

hr{
  width: 35%;
  height: 5px;
  color: var(--brandcolor);
  margin: 0 auto;
  opacity: none;
}

#about{
  min-height: 300px;
  width: 100%;
  background-color: var(--fontcolor);
  color: var(--fontcolor);
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 80px;
}
/* End about */

/* Box */
*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#pendidikan h1{
  color: #356CB1;
}
.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #356CB1 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
/* End Box */

/* Footer*/

.content {
  height: 70vh; }

.footer-20192 {
  position: relative;
  color: #fff;
  padding: 7rem 0;
  background-color: #141d2a; }
  .footer-20192 .container {
    position: relative; }
  .footer-20192 h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.5; }
  .footer-20192 .links li {
    margin-bottom: 10px;
    line-height: 1.5;
    display: block; }
    .footer-20192 .links li a {
      color: #666873; }
      .footer-20192 .links li a:hover {
        color: #fff; }
  .footer-20192 .social li {
    display: inline-block;
    position: relative; }
    .footer-20192 .social li a {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      margin: 0;
      padding: 0;
      background-color: var(--brandcolor);
      color: #fff; }
      .footer-20192 .social li a > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .footer-20192 .footer-logo {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .1rem; }
  .footer-20192 .copyright {
    color: #666873; }
  .footer-20192 .cta {
    -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    padding: 20px;
    background-color: var(--brandcolor);
    top: -150px;
    position: relative; }
    .footer-20192 .cta h2, .footer-20192 .cta h3 {
      line-height: 1.5; }
    .footer-20192 .cta h3 {
      font-size: 20px; }
      

/* End Footer*/

/* Sejarah*/
#sejarah{
  background:url(https://images.unsplash.com/photo-1557804506-669a67965ba0?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MzJ8fHRlYW18ZW58MHwwfHx8MTYzNTA2ODIzOQ&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768)  center / cover no-repeat; 
  background-color:#444; 
  background-blend-mode: overlay;
}
.lc-block p{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  align-content: center;
  color: var(--brandcolor);
}

.hero_lead{
  color: var(--background-dark) !important;
  justify-content: center;
}

.j_s h2{
  color: var(--brandcolor) !important;
}
/* End Sejarah*/

/* Sejarah lengkap*/
#sejarah-lengkap h1{
  color: var(--brandcolor);
}

hr{
  width: 35%;
  height: 5px;
  color: var(--brandcolor);
  margin: 0 auto;
  opacity: none;
}

#sejarah-lengkap{
  min-height: 300px;
  width: 100%;
  background-color: var(--fontcolor);
  color: var(--fontcolor);
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 80px;
}
/* end Sejarah lengkap*/


/* contact */
.container-kontak{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#eee;
}
.card-kontak{
  height:500px;
  width:800px;
  background-color:#fff;
  position:relative;
  box-shadow:0 15px 30px rgba(0,0,0,0.1);
  position:relative;
  font-family: 'Poppins', sans-serif;
}
.form{
  width:100%;
  height:100%;
  display:flex;
}
.left-side{
  width:30%;
  background-color:#fff;
  height:100%;
  position:relative;
  overflow:hidden;
  cursor:pointer;
}
/*left-side-start*/
.left-side .line1{
  height:350px;
  width:100%;
  background-color:#4b66ef;
  position:absolute;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 50% 100%, 0% 50%);
   z-index:10;
}
.left-side .line2{
  height:350px;
  width:440px;
  background-color:#31c8ff;
  position:absolute;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  top:150px;
  z-index:9;
}
.left-side .line3{
  height:330px;
  width:100%;
  background-color:#f0aec5;
  position:absolute;
 clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  z-index:11;
  bottom:0;
}
.contact-us{
  display:flex;
  justify-content:center;

}
.contact-us p{
  z-index:11;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(-180deg);
  color:#fff;
  font-size:25px;
  font-weight:700;
 position:absolute;
  top:20px;
  left:30px;
}
.contact-us span{
  position:absolute;
  top:180px;
  left:49px;
  height:80px;
  width:2px;
  background-color:#fff;
  z-index:11;
  
}

.left-side .social{
  display:flex;
 
  position:absolute;
  bottom:20px;
  left:55px;
 
}
.social i{
  margin-right:20px;
  z-index:12;
  font-size:23px;
  color:#fff;
  transition:all 0.6s;
}
.social i:nth-child(1){
  position:absolute;
  bottom:-90px;
  left:0;
}
.social i:nth-child(2){
  position:absolute;
  bottom:-90px;
  left:30px;
  transition-delay:0.3s;
}
.social i:nth-child(3){
  position:absolute;
 bottom:-90px;
  left:70px;
  transition-delay:0.6s;
}
.social i:nth-child(4){
  position:absolute;
  bottom:-90px;
  left:110px;
  transition-delay:0.9s;
}
.left-side:hover .social i{
  bottom:0;
}

/*left-side-end*/
.right-side{
  width:70%;
  background-color:#fff;
  height:100%;
  position:relative;
 cursor:pointer;
 overflow:hidden;
}
/*right-side-start*/
.top-div{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  padding:20px;
  box-sizing:border-box;
}
.top-div h2{
  font-weight:800;
  font-size:25px;
}
.top-div p{
  font-size:13px;
  font-weight:800;
}
.stats{
  display:flex;
  justify-content:space-between;
  padding:0 40px;
  margin-top:30px;
}
.stats1 i{
  display:flex;
  justify-content:center;
  font-size:20px;
  color:#a5f1cf;
  transition:all 0.5s;
  transform:scale(0);
}
.right-side:hover .stats1 i{
 
  transform:scale(1.3);
}


.stats1 span{
  font-size:12px;
 font-weight:600;
}
.card-content{
   display:flex;
  justify-content:center;
  margin-top:20px;
}
.card-content span{
  height:230px;
  width:300px;
  border-radius:10px;
  background-color:#fff;
  box-shadow:2px 2px 20px 5px #c8d2ff;

  padding:25px;
  box-sizing:border-box;
}
input[type='text']{
  height:15px;
  width:100%;
  border:none;
  border-bottom:2px solid #c8d2ff;
  outline:0;
  caret-color:#c8d2ff;
  color:#c8d2ff;
  margin-bottom:20px;
}
.input-text{
  position:relative;
}
.input-text small{
  position:absolute;
  top:2px;
  left:0;
  color:#c8d2ff;
  font-weight:600;
  transition:all 0.5s;
}
.input-text input:focus~small,.input-text input:valid~small
{
  top:-15px;
  font-size:12px;
  color:black;
}
.textarea{
  position:relative;
  margin-top:8px;
  color:#c8d2ff;
}
.textarea textarea{
  height:60px;
  width:100%;
  resize:none;
  border:none;
  outline:none;
  border-bottom:2px solid #c8d2ff;
  caret-color:#c8d2ff;
  color:#c8d2ff;
  
}
.textarea small{
  position:absolute;
  top:-2px;
  left:0;
  transition:all 0.5s;
  font-weight:600;
}
.textarea textarea:focus~small,.textarea textarea:valid~small
{
  top:-20px;
  font-size:12px;
  color:black;
}
.buttons{
  display:flex;
  justify-content:center;
  position:relative;
  
}
.buttons button{
  height:40px;
  width:150px;
  position:absolute;

     bottom:-140px;
  color:white;
  background-color:#4b6fef;
  border-radius:8px;
  transition:all 0.5s;
  cursor:pointer;
  border:none;
}
.buttons button:hover{
  background-color:blue;
}
.right-side:hover button{
  position:absolute;
   bottom:-20px;
  
}

/*right-side-end*/
@media (max-width:750px) {
  .container .card {
      max-width:350px;
  }
  .container .card .right-side {
          
        display: none;
        }
  .container .card .left-side {
    
       width:100%;
          
      
  }
  .left-side .social{
  display:flex;
  left:30%;
  /*transform:translate(-50%,50%);*/
  position:absolute;
  bottom:20px;
  /*left:55px;*/
 
}
}
/* End contact */

/* galeri */

.jumbotron-galeri{
  width: 1370px;
  height: 300px;
  
}

.jumbotron-heading-galeri{
  color: var(--brandcolor);
  font-weight: 700;
}

/*end Galeri */

/* berita*/
.berita {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card-berita {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.rainbow-button {
  width:calc(8vw + 2px);
  height:calc(3vw + 2px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:1vw;
  font-weight:bold;
  color: var(--brandcolor);
}
.rainbow-button:after {
  content:attr(alt);
  width:8vw;
  height:3vw;
  background-color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
/*End Berita */
